*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cinzel Decorative', cursive;
    font-family: 'IM Fell English', serif;
    //font-family: 'Sriracha', cursive;
}

header{
    background-color:#262626;
    ul{
        li{
            list-style:none;
            a{
                color: white;
                text-decoration: none;

            }
        }
    }

    .navbar{
        min-height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 24px;
        .nav-menu{
            display:flex;
            justify-content: space-between;
            align-items: center;
            gap: 60px;
            .nav-item{
                .nav-link{
                    transition:0.7s ease;
                    &:hover{
                        color:dodgerblue;
                    }
                }
            }
        }
    }
    .hamburger{
        display: none;
        cursor:pointer;
        .bar{
            display:block;
            width: 25px;
            height: 3px;
            margin: 5px auto;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            background-color: white;
        }
    }
    @media only screen and (max-width:600px){
        
        .hamburger{
            display: block;
        }
        .hamburger.active .bar:nth-child(2){
           opacity: 0; 
        }
        .hamburger.active .bar:nth-child(1){
            transform: translateY(8px) rotate(45deg);
        }
        .hamburger.active .bar:nth-child(3){
            transform: translateY(-8px) rotate(-45deg);
        }
        .nav-menu{
            position: fixed;
            left: -100%;
            top:70px;
            gap:0;
            flex-direction: column;
            background-color: #262626;
            width: 100%;
            text-align: center;
            transition: 0.3s;
            z-index: 10;
            .nav-item{
               margin: 16px 0; 
            }
            
        }
        .nav-menu.active{
            left:0;
        }
    }
}
main{
    //background-color: pink; //Change color back to either white or delete this line*****
    width: 100%;
    margin: 0 auto;
    //center the contents
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    #title{
        // max-width: 807px; //change to the original img
        // max-height: 452px;//change to the original img
        img{ 
            width: 100%;
            height: auto;
        }
    }
    h1{
        font-size: 0;
    }
    h2{
        font-size: 4rem;
        padding: 10px;
    }
    iframe{
        padding-top: 15px;
        width: 1100px;
        height: 619px;
    }
    .steam{
        //background-color: rgb(237, 225, 209); //Change color back to either white or delete this line*****
        a{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            padding: 5px;
            width: 175px;
            color: black;
            text-decoration: none;
            &:hover{
                //Shadow effect for the steam button
                filter:drop-shadow(0px 0px 10px rgba(0,0,0,0.6));
            }
        }
        img{
            position: absolute;

        }
        i{
            z-index: 1;
        }
        h3{
            font-size: 2rem;
            z-index: 1;
        }
    }
    .news{
        .card-grid{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
            gap: 1rem;
            align-items: flex-start;
            .card{
                --padding:1rem;
                background-color: aqua;
                border-radius: .25rem;
                box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
                overflow: hidden;
                .card-img{
                    overflow: hidden;
                    
                    img{
                        display: block;
                        width: 100%;
                        max-height: 200px;
                        aspect-ratio: 16/9;
                        object-fit: cover;
                        object-position: center;
                        transition: 200ms transform ease-in-out;
                    }
                }
                .card-header{
                    padding: 0 var(--padding);
                    font-size: 1.5rem;
                    margin-bottom: .5rem;
                }
                .card-date{
                    padding: 0 var(--padding);
                    color: red;
                    font-weight: bold;
                }
                .card-body{
                    padding: 0 var(--padding);
                }
                .card-footer{
                    padding: 0 var(--padding);
                    margin-top: 1rem;
                    .btn{
                        background-color: #262626;
                        color: white;
                        font-size: 1rem;
                        padding: .5em .75em;
                        &:hover{
                            background-color: red;
                            color: black;
                            font-weight: bold;
                        }
                    }
                }
                &:hover > .card-img > img{
                    transform: scale(1.025);
                }
            }
        }
    }
    @media screen and (max-width:1100px){
        iframe{
            width: 560px;
            height: 315px;
        }
    }
    @media only screen and (max-width:600px){
        width: 100%;
        h2{
            font-size: 2rem;
        }
        iframe{
            padding-top: 15px;
            padding-bottom: 15px;
            width: 280px;
            height: auto;
        }
    }
    .community{
        width: 100%;
        height: auto;
        background-image: url('https://placehold.co/3840x400');
        background-size: cover;
        background-position: center;
        position: relative;
        display: flex;
        align-items: center;
        .container{
            width: 80%;
            display:flex;
            justify-content: center;
            align-items: center;
            .links{
                flex:1;
                width: 80%;
                text-align: left;
            }
            .images{
                flex:1;
            }  
        }
    }
}

footer{
    background-color: rgba(0,0,0,0.3);
    padding: 10px 0;
    display:flex;
    justify-content: center;
    .footer{
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    @media only screen and (max-width:600px){
        .footer{
            width: 100%;
            padding: 0px 10px;
        }
    }
} 